
<ion-content padding>

  <ion-row margin-bottom margin-top>
    <ion-col></ion-col>
    <ion-col width-67 text-center>
      <img src="assets/imgs/logo.png"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

<form (ngSubmit)="submit()" #registerForm="ngForm" margin-top>
	<ion-row margin-bottom>
        <ion-col>
          <ion-list inset>
		
			  <ion-item>
			    <ion-input type="url" [(ngModel)]="urlCrupier" name="urlCrupier"></ion-input>
			  </ion-item>

	 		</ion-list>
        </ion-col>
      </ion-row>
	  
	  <ion-row margin-top>
        <ion-col class="signup-col">
          	  <button ion-button class="submit-btn" full type="submit" color="primary" [disabled]="!urlCrupier">VALIDAR URL</button>
        </ion-col>
        <ion-col col-12 text-center>
        	  <ion-label foot-note>{{stringVersion}}</ion-label>
        	  <ion-label foot-note>Desarrollado por Meemba Software SRL</ion-label>
        </ion-col>
      </ion-row>



</form>

</ion-content>
