page-login {
 ion-content{
	   	height: 100%;
	  	display: block;
	   	vertical-align: middle;
 		img{
 			margin-top: 40px;
 		}
 		ion-label{
 			color: #dadada;
	 	}
		ion-input{
		 	background: #dadada;
		 	width: 100%;
		 	margin: 0px;
		}
 }
}
