<ion-content overflow-scroll="true" (tap)="tapEvent()" >
     <iframe [src]="urlString" width="100%" height="100%">
     	       <p>Your browser does not support iframes.</p>
     </iframe>
</ion-content>
